body {
  background: #fffefc;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
  position: relative;
  min-height: 560px;
}

.header {
  text-align: center;
  max-width: 1280px;
  margin: 40px auto;
}

.footer {
  margin-top: auto;
}

#gallery {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.frame {
  box-shadow: -1px 1px 6px 1px rgba(0, 0, 0, 0.24);
  background: white;
  align-items: center;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

canvas {
  height: 320px;
  width: 320px;
  background-size: cover;
  background-position: center center;
}

.art-title {
  text-align: center;
  margin-bottom: 40px;
}

.art-details {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1280px;
  flex-wrap: wrap;
}
