body {
  background: #f3f6f3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
  position: relative;
  min-height: 560px;
  font-family: "Nunito Sans", sans-serif;
}

.header {
  text-align: center;
  max-width: 1280px;
  margin: 40px auto;
}

#heading {
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: auto;
}

#gallery {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.frame {
  box-shadow: -1px 1px 6px 1px rgba(11, 18, 14, 0.24);
  background: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

canvas {
  height: 320px;
  width: 320px;
  background-size: cover;
  background-position: center center;
}

.link {
  color: black;
}

.art-title {
  text-align: center;
  margin-bottom: 40px;
}

.art-details {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  flex-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.code {
  max-width: 320px;
  margin: auto;
}
